@font-face {
    font-family: MyFont;
    src: url(../fonts/iconfont.woff) format(woff),
    url(../fonts/iconfont.ttf) format(ttf);
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: MyFont;
}